<c8y-title translate>Climate Control</c8y-title>

<style type="text/css">
    /* toggle css */

.onoffswitch {
position: relative; width: 90px;
-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
position: absolute;
opacity: 0;
pointer-events: none;
}
.onoffswitch-label {
display: block; overflow: hidden; cursor: pointer;
border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
display: block; width: 200%; margin-left: -100%;
transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
box-sizing: border-box;
}
.onoffswitch-inner:before {
content: "ON";
padding-left: 10px;
background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
content: "OFF";
padding-right: 10px;
background-color: #EEEEEE; color: #999999;
text-align: right;
}
.onoffswitch-switch {
display: block; width: 18px; margin: 6px;
background: #FFFFFF;
position: absolute; top: 0; bottom: 0;
right: 56px;
border: 2px solid #999999; border-radius: 20px;
transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
right: 0px; 
}
</style>
<div>
    <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" tabindex="0" checked>
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
        </div>
</div>
<br><br>

<div>
    <h2>Create</h2>
<form action="/action_page.php">
  <label for="cars">Outside Temprature:</label>
  <select name="cars" id="cars" placeholder="temprature">
    <option value="0">Tempraurte</option>
    <option value="1">30</option>
    <option value="2">29</option>
    <option value="3">28</option>
    <option value="4">27</option>
    <option value="5">26</option>
    <option value="6">25</option>
    <option value="7">24</option>
    <option value="8">23</option>
    <option value="9">22</option>
    <option value="10">21</option>
    <option value="11">20</option>
    <option value="12">19</option>
    <option value="13">18</option>
  </select>
  <br><br>
  <label for="cars">Inside Temprature:</label>
  <select name="cars" id="cars" placeholder="temprature">
    <option value="14">Tempraurte</option>
    <option value="15">30</option>
    <option value="16">29</option>
    <option value="17">28</option>
    <option value="18">27</option>
    <option value="19">26</option>
    <option value="20">25</option>
    <option value="21">24</option>
    <option value="22">23</option>
    <option value="23">22</option>
    <option value="24">21</option>
    <option value="25">20</option>
    <option value="26">19</option>
    <option value="27">18</option>
  </select>
  <br><br>
   <label for="cars">Operations:</label>
  <select name="cars" id="cars" placeholder="temprature">
    <option value="14">Operations</option>
    <option value="15">less</option>
    <option value="16">greater</option>
    <option value="17">equal</option>
   
  </select>
   <br><br>
  <input type="submit" value="Save">
  <input type="submit" value="Cancel">
</form>
</div>

<br><br>

<div>
    <form action="/action_page.php">
        <label for="quantity">Enter your Range:</label>
        <input type="number" id="quantity" name="quantity" min="18" max="30">
        <input type="submit">
      </form>
</div>

<br><br>
<div>
    <p>Readings</p>
<p>Readings</p>
<button type="button">Edit</button>
<button type="button" >Delete</button>
</div>

<br>
<br>

<app-my-chart></app-my-chart>
<app-line-chart></app-line-chart>
<app-pie-chart></app-pie-chart>

<br>