<c8y-title>Alarms for {{route.snapshot.parent.data.contextData.name}}</c8y-title>

<strong>route.snapshot.parent.data.context:</strong>
<pre>
  <code>
    {{route.snapshot.parent.data.context | json}}
  </code>
</pre>

<strong>route.snapshot.parent.data.contextData:</strong>
<pre>
  <code>
    {{route.snapshot.parent.data.contextData | json}}
  </code>
</pre>
