<c8y-title translate>Energy Management</c8y-title>

<h1>Angular Http Basics</h1>

<!-- <button (click)="getPosts()">Get Data</button> -->
<span *ngFor="let device of devices">
    <a [routerLink]="['scheduler', device.id]">
         {{device.name}}
    </a>
 </span>
<!-- <div *ngFor="let device of devices">
    <table>
        <a [routerLink]="['/device', device.id]">
        <tr>
            <td> {{device.name}}</td>
        </tr>
        <tr>
            <td><a [routerLink]="['/device', device.id]">{{device.id}}</a></td>
        </tr>
    </table>

</div> -->